<div id="spinner" ng-show="loading">
  <img src="../assets/img/spinner.gif">
</div>

<section class="feed" ng-hide="loading">

<div class="container">
  <div class="feed-post" ng-repeat="post in sorted">
    <!-- TWITTER -->
    <div ng-if="post.source_network=='twitter'" >
        <blockquote twitter post="post" class="twitter-tweet"></blockquote>
    </div>
    <!-- REDDIT -->
    <div ng-if="post.source_network=='reddit'">
        <div class="reddit-media">
            <img src='{{ post.data.thumbnail }}'></img><br>
            <a href='{{ post.data.url }}' target='_blank' class='title'>{{ post.data.title }}</a>
            <p class='author'> {{ post.data.author }}</p>
            <p> {{ post.data.selftext }}</p>
        </div>
    </div>
  </div>
</div>

</section>