<div id="spinner" ng-show="loading">
  <img src="../assets/img/spinner.gif">
</div>
<filter></filter>

    <div class="container" ng-show="!twitterShow && !redditShow">
    ALL POSTS HIDDEN
    </div>
<section class="feed" ng-hide="loading" ng-show="twitterShow || redditShow" >
<div class="container">
  <div class="feed-post" ng-repeat="post in sorted track by $index">
    <!-- TWITTER -->
    <div ng-if="post.source_network=='twitter'" ng-show="twitterShow" >
        <blockquote twitter post="post" class="twitter-tweet"></blockquote>
    </div>
    <!-- REDDIT -->
    <div ng-if="post.source_network=='reddit'" ng-show="redditShow">
        <div class="reddit-media">


            <img ng-src='{{ post.data.thumbnail }}' on-error="../assets/img/FF4D00-0..png"></img><br>


            <a href='{{ post.data.url }}' target='_blank' class='title'>{{ post.data.title }}</a>
            <p class='author'> {{ post.data.author }}</p>
            <p> {{ post.data.selftext }}</p>
        </div>
    </div>
  </div>
</div>

</section>