<div class="filter">
  <br>
  <div >
    <div class="container hide-msg" ng-show="!twitterShow && !redditShow">
    ALL POSTS HIDDEN
    </div>
    <table>
      <tr>
        <td>
          <div>
            <button type="button" id="filterTwitter" class="btn btn-twitter" ng-click="toggleTwitterShow()" ></button>
          </div>
        </td>
        <td>
          <div>
            <button type="button" id="filterReddit" class="btn btn-reddit" ng-click="toggleRedditShow()" ></button>
          </div>
        </td>
      </tr>
    </table>
  </div>
  <br>
</div>